.button {
    background-color: var(--primary);
    padding: 0.8rem 8rem;
    border: 0;
    outline: 0;
    border-radius: 1.1rem;
    font-family: inherit;
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 700;
}

.button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}