:root {
    --primary: #122DB0;
    --secondary: #0015ba;
    --grey: #E5E5E5;
    --error: #FF0000;
    --white: #FFFFFF;
    --on: #30ec0b;
    --off: #ff2d2d;

    margin: 0;
    padding: 0;
}

html{
    font-family: "Chivo";
}

main{
    height: 98vh;
}
